@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

:root
{
    --dark-grey:#24424C;
    --green:#85CF4F;
    --white:#FFFFFF;
    --light-grey:#DADADA;
    --black:#000000;
    --grey:#77836C;
}

body
{
    font-family:Kanit ;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
    margin: 0;
    
}

.container-fluid
{
    background-color: var(--white);
}

.container-center
{
    text-align: center;
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

.link
{
    font-family: Kanit;
    text-decoration: none;
    font-size: 1rem;
    color:var(--white)
}

.link-primary , .link-secondary
{
    border-radius: 0.5rem;
    width: 8rem;
}

.link-primary
{
    background-color: var(--green);
}

.link-secondary
{
    background-color: var(--dark-grey);
}

.list-ordered
{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}

.list-unordered>.list-item
{
    display: inline;
    padding: 0rem 1rem;
}

.section
{
    display: block;
    padding: 1rem;

}
.heading
{
    background-color: #24424C;
    text-align: center;
    color: #FFFFFF;
    border-radius: 1rem;
}
.section-grey
{
    background-color: var(--light-grey);
}

.blog
{
    font-size: 1rem;
}

.footer
{
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
    padding: 2rem 1rem 1.5rem 1rem;
    border-radius: 2rem 2rem 0rem 0rem;
}

.footer>.footer-text
{
    display: block;
    font-size: xx-large;
}

.footer>.social-links
{
    padding: 0;
    
}

footer>.direct-link
{
    color:var(--white);
    text-decoration: none;
}

.header
{
    padding: 2rem;
    padding-top: 5rem;
    display: block;
    text-align: center;
}

.header-image
{
    max-width: 80%;
    width: 350px;
    margin: auto;
    
    
}

.header-heading
{
    color: var(--grey);
}

.header-inverse
{
    color: var(--dark-grey);
}


.nav
{
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    z-index: 0;
    border-radius: 0rem 0rem 2rem 2rem;
}


.nav>.nav-menu
{
    text-align: right;
}

.nav>.nav-menu>.list-item
{
    padding: 1rem;
}



.nav-heading>.link
{
    font-size: xx-large;
    font-weight: 500;
}

.nav-menu>.list-item>.link-active
{
    font-weight:800 ;
    font-size: large;
    
}

hr{
    margin: 1rem 0rem;
}