body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #232526, #414345);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover,
a:hover {
  background-color: #6EBACF; /* matches theme.colors.primaryHover */
}